*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: 100%;
}

body.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button-div {
    padding: 10px;
    margin: 0 25px;
}

div.table-div, div.production-cards{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    margin: auto 25px;
}

div.production-cards > div {
    margin: 25px;
}

div.production-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.delete-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000054;
    justify-content: center;
    align-items: center;
}

div.search-div {
    display: flex;
    justify-content: right;
    margin: 10px 1.3rem;
    justify-content: space-between;
}

div.search-div div {
    margin: 0 15px;
}

div.production {
    width: fit-content;
    margin: auto 0;
    width: 100%;
}